.footer-wrapper {
  color: white;
  background-color: $colors_dark;

  .container {
    padding: 15px 0;
    margin: 0 auto;

    @include above(md) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    i {
      margin-right: 15px;
    }

    .footer-item {
      text-align: center;
      width: 100%;

      p {
        margin: 0;
      }
    }
  }  
}