.page-dashboard {
  .btn-add {
    text-align: right;
    margin: 0 0 15px 0;
    
    button {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .dashboard-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .period-btn-wrapper {
      margin: 15px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;

      @include above(md) {
        width: auto;
      }
  
      .btn {
        border: 1px solid $colors_lightgrey;
        margin: 5px;
        width: 45%;

        @include above(md) {
          width: auto;
          margin: 0 5px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

  }
  
  .table-wrapper {
    margin-top: 40px;
  }
}